{% load static %}
<link rel="stylesheet" href = "{% static 'primer_designer_app/body_nav.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<nav>
    <ul>
        <li class="github-logo-li">
            <a href="https://github.com/KuechlerO/PrimerDesigner" target="_blank">
                <i class="fa-brands fa-github github-icon"></i>
            </a>
        </li>

        <a href="{% url 'primer_designer_app:snv_indel_index' %}"><li class="page-btn">SNVs & Indels</li></a>
        <a href="{% url 'primer_designer_app:structural_variants_index' %}"><li class="page-btn">Structural Variants</li></a>
        <a href="{% url 'primer_designer_app:documentation' %}"><li class="page-btn">Documentation</li></a>
        <!--- <li class="page-btn" style="margin-right:0;">Primer Search</li> -->
        <!-- <li>Other Apps</li>
        <li>Language</li> -->
        <li class="bih-logo-li">
            <a href="https://www.bihealth.org/en/"><img src="{% static 'primer_designer_app/images/BIH_logo.png' %}" class="bih_logo" alt="Logo"></a>
        </li>
    </ul>
</nav>
<a href="{% url 'primer_designer_app:snv_indel_index' %}"><img src="{% static 'primer_designer_app/images/logo_PrimerDesigner.png' %}" alt="PrimerDesigner Logo" style="width: 32em;height: auto;"></a>
