{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    {% include "primer_designer_app/header.html" %}
    <link rel="stylesheet" href="{% static 'primer_designer_app/primer_overview.css' %}">
</head>
<body class="body-snv-indels">
    {% include "primer_designer_app/body_nav.html" %}
    {% include "primer_designer_app/_prim3_param_overview.html" %}
    <main>
        <form id="settings" method="post" action="{% url 'primer_designer_app:snv_indel_primers_overview' %}" enctype="multipart/form-data" autocomplete="on">
            {% csrf_token %}

            {% include "primer_designer_app/_primer_settings_top_row.html" %}

            {% include "primer_designer_app/_allelic_input_sections.html" %}
        </form>
        <div class="snv-submit-row">
            <button type="button" id="example-button" class="example-button" onclick="loadExampleData()">Load Example</button>
            <button type="reset" class="reset-button" form="settings" onclick="clearAllInputs()">Reset</button>
            <button type="submit" class="submit-button" form="settings">Generate Primers</button>
        </div>

        {% include "primer_designer_app/_loading_overlay.html" %}
    </main>
    <script src="{% static 'primer_designer_app/primer_params_utils.js' %}"></script>
    <script src="{% static 'primer_designer_app/snv_indels_script.js' %}"></script>
</body>
</html>
